<!--Navigation Bar-->
    <div class="row">
        <div class="large-12 small-12 columns">
            <div class="icon-bar six-up" role="navigation">
                <a class="item" aria-labelledby="#itemlabel1" href="/">
                    <img src="assets/images/svgs/fi-home.svg">
                    <label id='itemlabel1'>Home</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel2" href="/project">
                    <img src="assets/images/svgs/fi-projection-screen.svg">
                    <label id='itemlabel2'>Projects Done</label>
                </a>
                <a class="active item" aria-labelledby="#itemlabel3" href="/about">
                    <img src="assets/images/svgs/fi-info.svg">
                    <label id='itemlabel3'>About Me</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel3" href="/service">
                    <img src="assets/images/svgs/fi-social-skillshare.svg">
                    <label id='itemlabel3'>Services</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel4" href="/contact">
                    <img src="assets/images/svgs/fi-mail.svg">
                    <label id='itemlabel4'>Contact Me</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel6" href="https://github.com/RachitPandya">
                    <img src="assets/images/svgs/fi-social-github.svg">
                    <label id='itemlabel6'>GitHub</label>
                </a>
            </div>
        </div>
    </div><!--close Navbar-->

    <div class="row">
        <nav id="brdcrmstyle" class="breadcrumbs">
            <a href="/">Home</a>
            <a class="current" href="#">About Me</a>
        </nav>
    </div>
    <br /><!--Close Breadcrums-->
    <div class="row">
        <aside class="large-5 small-4 columns">
            <a class="th" role="button" aria-label="Thumbnail" href="#">

                <img class="circular th" aria-hidden=true src="assets/images/myimg.jpg" />

            </a>
        </aside>
        <header class="large-7 small-8 columns">
            <h1 id="intro">Rachit Pandya</h1>
            <h3 id="subintro">A person with the helpful nature & good technical & communication skill...</h3>
        </header>
    </div>


    <div class="row">
        <hr />
        <aside class="small-6 large-6 columns">

            <h4>About Me</h4>
            <p>
                <ul>
                    <li>I am a person with good technical and communication skill.I have a positive attitude towards my life and others.dedication and passionate about work makes me unique</li>
                    <li>Working in a team with the people from different culture & easily mix with them is one of my plus point.</li>
                    <li>Honesty, Good time Management skills & flexibility are also some of the noticable qualities in me!</li>
                </ul>
            </p>

        </aside>

        <header class="small-6 large-6 columns">

            <h4>Objective</h4>
            <p>
                <ul>
                    <li>To gain employment with a company that offers me a consistently positive atmosphere to learn new technologies & implement them for the betterment of business.</li>
                    <li>To work in an environment where I have the responsibility & accountability for using my skills to achieve valuable results.</li>
                </ul>
            </p>

        </header>

        <hr />
    </div>


    <div class="row">

        <aside class="large-6 small-6 columns">
            <h4>Education</h4>
            <p>
                <ul>
                    <li>B.Sc. Computer Science (2007-2010)-First class</li>
                    <li>Master's of Computer Application(2010-2013)-Distinction</li>
                    <li>Advance Diploma in Software engineering Technology (Persuing)</li>
                </ul>
            </p>
        </aside>
        <header class="large-6 small-6 columns">
            <h4>IT Skills</h4>
            <p>
                <ul>
                    <li>Languages: C, C++, c#, Java</li>
                    <li>Databses : Oracle, SQL Server, MS Access</li>
                    <li>FrameWorks: ASP. Net, Druple</li>
                    <li>Others : Photoshope, Pro Show Gold, MS Office Etc..</li>
                </ul>
            </p>
        </header>
        <hr />
    </div>
    <div class="row">
        <br />
        <center>
            Click <a id="resumelink" role="button" href="assets/other/RachitPandya.docx" download="RachitPandyaResume">Here</a> to Download My Resume!
        </center>

    </div>