    <!--Navigation Bar-->
    <div class="row">
        <div class="large-12 small-12 columns">
            <div id="menubarcss" class="icon-bar six-up" role="navigation">
                <a class="item" aria-labelledby="#itemlabel1" href="/">
                    <img src="assets/images/svgs/fi-home.svg">
                    <label id='itemlabel1'>Home</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel2" href="/project">
                    <img src="assets/images/svgs/fi-projection-screen.svg">
                    <label id='itemlabel2'>Projects Done</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel3" href="/about">
                    <img src="assets/images/svgs/fi-info.svg">
                    <label id='itemlabel3'>About Me</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel4" href="/service">
                    <img src="assets/images/svgs/fi-social-skillshare.svg">
                    <label id='itemlabel4'>Services</label>
                </a>
                <a class="active item" aria-labelledby="#itemlabel5" href="/contact">
                    <img src="assets/images/svgs/fi-mail.svg">
                    <label id='itemlabel5'>Contact Me</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel6" href="https://github.com/RachitPandya">
                    <img src="assets/images/svgs/fi-social-github.svg">
                    <label id='itemlabel6'>GitHub</label>
                </a>
            </div>
        </div>
    </div><!--close Navbar-->
    <div class="row">
        <nav id="brdcrmstyle" class="breadcrumbs">
            <a href="index.html">Home</a>
            <a class="current" href="#">Contact Me</a>
        </nav>
    </div><!--Closing Breadcrums-->
    <br />
    <br />
    <div class="row">
        <div class="small-12 large-12 columns">
            <h3>Contact Information</h3>
            
            <hr />
            <p>
                <ul>
                    <li><b>Email Address:</b>pandyarachit007@gmail.com</li>
                    <li><b>Phone Number :</b>647-677-5134</li>
                </ul>
            </p>
        </div>
        <hr />
    </div>
    <div class="row">
        <h3> Any Query Or Suggestion</h3>
        <p>If you have any query or suggestion about my work you can contact me using above information. Or you can direct write me using following form</p>
        <hr/>
        <aside class="large-6 small-6 columns">
            <form id="f1" data-abide>
                <fieldset>
                    <legend>Your Query</legend>

                    <div class="name-field">
                        <label>
                            Your name 
                            <input type="text" required pattern="[a-zA-Z]+" placeholder="ex: Rachit Pandya">
                            <small class="error">Name is required and must be a string.</small>
                        </label>
                       
                    </div>
                    <div class="email-field">
                        <label>
                           your Email 
                            <input type="email" placeholder="ex: Example@gmail.com" required>
                        </label>
                        <small class="error">An email address is required.</small>
                    </div>

                    <label>
                        Your Message
                        <textarea id="msg" placeholder="Write your Question or suggestion here" class="required"></textarea>
                    </label>
                    
                    <button type="submit" class="button round">Submit</button>

                </fieldset>
            </form>
        </aside>
        <header class="large-6 small-6 columns">
            <div id="panel1" class="panel callout radius">
                <h5>Stay Tuned with me</h5>
                <a id="btnsmall" class="th" role="button" aria-label="Thumbnail" href="https://twitter.com/RachitPandya">
                    <img aria-hidden=true src="assets/images/twitter.png" />
                </a>
                <a id="btnsmall" class="th" role="button" aria-label="Thumbnail" href="https://ca.linkedin.com/pub/rachit-pandya/44/726/163">
                    <img aria-hidden=true src="assets/images/lin.png" />
                </a>
                <a id="btnsmall" class="th" role="button" aria-label="Thumbnail" href="https://plus.google.com/u/0/+RachitPandya/about">
                    <img aria-hidden=true src="assets/images/gp.png" />
                </a>
                <a id="btnsmall" class="th" role="button" aria-label="Thumbnail" href="https://www.facebook.com/rachit.pandya.5">
                    <img aria-hidden=true src="assets/images/fb.png" />
                </a>
            </div>
        </header>
    </div>