<hr />
    <br /><br />
    <div class="row">
        <div class="large-12 small-12 columns">
            <div id="footer">
                Copyrights © 2015 All Rights are reserved | Design and Developed By <a href="#">Rachit Pandya</a>
            </div><!--close footer-->
        </div>