<div class="row" id="bannerstyle">
        <aside class="large-4 medium-5 small-12 columns">
            <div id="logo">
                <img src="../assets/images/logodesign.png" alt="" />
            </div>
        </aside>

        <header class="large-8 medium-7 small-12 columns">
            <h1 id="headerstyle">Welcome to Rachit's Portfolio</h1>
            <!--<h1><a href="#">Lightning your Talent</a></h1>-->
            <br />


        </header>
    </div>