<!--Navigation Bar-->
    <div class="row">
        <div class="large-12 small columns ">
            <div id="menubarcss" class="icon-bar six-up" role="navigation">
                <a class="active item " aria-labelledby="#itemlabel1" href="../index">
                    <img src="assets/images/svgs/fi-home.svg">
                    <label id='itemlabel1'>Home</label>
                </a>
                <a class="item hide-for-small" aria-labelledby="#itemlabel2" href="/project">
                    <img src="assets/images/svgs/fi-projection-screen.svg">
                    <label id='itemlabel2'>Projects Done</label>
                </a>
                <a class="item " aria-labelledby="#itemlabel3" href="/about">
                    <img src="assets/images/svgs/fi-info.svg">
                    <label id='itemlabel3'>About Me</label>
                </a>
                <a class="item " aria-labelledby="#itemlabel4" href="/service">
                    <img src="assets/images/svgs/fi-social-skillshare.svg">
                    <label id='itemlabel4'>Services</label>
                </a>
                <a class="item " aria-labelledby="#itemlabel5" href="/contact">
                    <img src="assets/images/svgs/fi-mail.svg">
                    <label id='itemlabel5'>Contact Me</label>
                </a>
                <a class="item " aria-labelledby="#itemlabel6" href="https://github.com/RachitPandya">
                    <img src="assets/images/svgs/fi-social-github.svg">
                    <label id='itemlabel6'>GitHub</label>
                </a>
            </div>
        </div>
    </div><!--close Navbar-->
    <div class="row">
        <nav id="brdcrmstyle" class="breadcrumbs">
            <a href="index.ejs">Home</a>
            <a class="unavailable" href="#">Projects</a>
            <a class="unavailable" href="#">About Me</a>
            <a class="unavailable" href="#">Contact Me</a>
            <a class="unavailable" href="#">Services</a>
        </nav>
    </div>
    <br /><!--Close Breadcrums-->
    
    <div class="row">
        <aside class="large-6 small-5 columns">

            <ul class="example-orbit" data-orbit>
                <li>
                    <img src="assets/images/TnPSystem.jpg" alt="slide 1" />
                    <div class="orbit-caption">
                        Desktop Application for CMPICA.
                    </div>
                </li>
                <li class="active">
                    <img src="assets/images/CHireportal.jpg" alt="slide 2" />
                    <div class="orbit-caption">
                        Web Application for LandT.
                    </div>
                </li>
                <li>
                    <img src="assets/images/PnL.jpg" alt="slide 3" />
                    <div class="orbit-caption">
                        Android Quiz application.
                    </div>
                </li>
            </ul>

           
        </aside>
        <header class="large-6 small-7 columns">
            <h3 id="subintro">Where ideas becomes reality</h3>
            <p style="text-align:justify">
                Welcome to my website where you can see my works. and suggest me some of your innovative ideas.<br />I am very
                excited to show you my works the project that i have done. you can surf my website and see my work. I am very happy to bring soul to my work.<br />
                Hope this will give you some of idea about my knowledge and passion about my work. You can contact me or submit your suggestion. And I am very happy to hear from you.
                Please find the contact detail from menu.
            </p>
        </header>

    </div>
    <div class="row">
        <div class="large-12 small-12 columns">
            <div id="panel1" class="panel callout radius">
                <h5>Keep Connected</h5>
                <a  id="btnsmall" class="th" role="button" aria-label="Thumbnail" href="https://twitter.com/RachitPandya">
                    <img aria-hidden=true src="assets/images/twitter.png" />
                </a>
                <a id="btnsmall" class="th" role="button" aria-label="Thumbnail" href="https://ca.linkedin.com/pub/rachit-pandya/44/726/163">
                    <img aria-hidden=true src="assets/images/lin.png" />
                </a>
                <a id="btnsmall" class="th" role="button" aria-label="Thumbnail" href="https://plus.google.com/u/0/+RachitPandya/about">
                    <img aria-hidden=true src="assets/images/gp.png" />
                </a>
            </div>
        </div>
    </div>