<!--Navigation Bar-->
    <div class="row">
        
            <div class="icon-bar six-up" role="navigation">
                <a class="item" aria-labelledby="#itemlabel1" href="index.html">
                    <img src="assets/images/svgs/fi-home.svg">
                    <label id='itemlabel1'>Home</label>
                </a>
                <a class="active item" aria-labelledby="#itemlabel2" href="/project">
                    <img src="assets/images/svgs/fi-projection-screen.svg">
                    <label id='itemlabel2'>Projects Done</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel3" href="/about">
                    <img src="assets/images/svgs/fi-info.svg">
                    <label id='itemlabel3'>About Me</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel3" href="/service">
                    <img src="assets/images/svgs/fi-social-skillshare.svg">
                    <label id='itemlabel3'>Services</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel4" href="/contect">
                    <img src="assets/images/svgs/fi-mail.svg">
                    <label id='itemlabel4'>Contact Me</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel6" href="https://github.com/RachitPandya">
                    <img src="assets/images/svgs/fi-social-github.svg">
                    <label id='itemlabel6'>GitHub</label>
                </a>
            </div>
       
    </div><!--close Navbar-->
    
    <div class="row">
        <nav id="brdcrmstyle" class="breadcrumbs">
            <a href="index.html">Home</a>
            <a class="current" href="#">Projects</a>
        </nav>
    </div>
    <br/>
    <div class="row">
        <aside class="large-6 medium-6 small-6 columns">

            <ul class="example-orbit" data-orbit>
                <li>
                    <img src="assets/images/chp1.jpg" alt="slide 1" />
                    <div class="orbit-caption">
                        Master Page/User Dashboard
                    </div>
                </li>
                <li class="active">
                    <img src="assets/images/chp2.jpg" alt="slide 2" />
                    <div class="orbit-caption">
                        Login Page
                    </div>
                </li>
                <li>
                    <img src="assets/images/chp3.jpg" alt="slide 3" />
                    <div class="orbit-caption">
                        Request for Renting Car Page
                    </div>
                </li>
            </ul>


        </aside>
        <header class="large-6 medium-6 small-6 columns">
            <h3>Car Hire Portal</h3>
            <p style="text-align:justify">
                It is Webbase Application developed for L&T India.<br/>
                Front End: Visual Studio-2010<br />
                Back End: SQL Server<br />
                Reporting Tool: Crystal Reports<br />
                This website helps the employees of the company to hire the car for company purpose.All the request payment rejection is managing by seperate dashboart using this application.
            </p>
        </header>

    </div>
    <hr />

    <div class="row">
        <header class="large-6 medium-6 small-6 columns">
            <h3>Training & Placement Management System</h3>
            <p style="text-align:justify">
                It is Desktop Application developed for CMPICA(CHARUSAT uni.,India)<br />
                Front End: Visual Studio-2010<br />
                Back End: SQL Server<br />
                Reporting Tool: Crystal Reports<br />
                This Application is develop for Training & placement cell. This System will help the user to reduce the workload and paperwork by maintaining all the data in an automated form.
            </p>
        </header>

        <aside class="large-6 medium-6 small-6 columns">

            <ul class="example-orbit" data-orbit>
                <li>
                    <img src="assets/images/tnp1.jpg" alt="slide 1" />
                    <div class="orbit-caption">
                        Login Page
                    </div>
                </li>
                <li class="active">
                    <img src="assets/images/tnp2.jpg" alt="slide 2" />
                    <div class="orbit-caption">
                        Registration Page For Students
                    </div>
                </li>
                <li>
                    <img src="assets/images/tnp3.jpg" alt="slide 3" />
                    <div class="orbit-caption">
                        Company Info. Page
                    </div>
                </li>
                <li>
                    <img src="assets/images/tnp4.jpg" alt="slide 3" />
                    <div class="orbit-caption">
                       Criteria wise Student Report
                    </div>
                </li>
            </ul>


        </aside>
        

    </div>
    <hr />
    <div class="row">
        <aside class="large-6 medium-6 small-6 columns">
            <center>
                <a class="th" role="button" aria-label="Thumbnail" href="https://github.com/TeamMatharu/PlayNLearn">

                    <img id="imgclrng" aria-hidden=true src="assets/images/pnl1.png" />

                </a>
            </center>


        </aside>
        <header class="large-6 medium-6 small-6 columns">
            <h3>Play'N'Learn</h3>
            <p style="text-align:justify">
                This is an Android Application<br />
                Developed using Eclips & Android SDK<br />
                Database Tool: SQLite<br />
                This android application is basically a quiz app, which is mainly focusing on general knowledge question covering almost all age group. User can play app as a guest with limited privileges and user can play by creating their profile that gives access to all functionality of the app.
            </p>
        </header>

    </div>