<!--Navigation Bar-->
    <div class="row">
        <div class="large-12 small-12 columns">
            <div id="menubarcss" class="icon-bar six-up" role="navigation">
                <a class="item" aria-labelledby="#itemlabel1" href="/">
                    <img src="assets/images/svgs/fi-home.svg">
                    <label id='itemlabel1'>Home</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel2" href="/project">
                    <img src="assets/images/svgs/fi-projection-screen.svg">
                    <label id='itemlabel2'>Projects Done</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel3" href="/about">
                    <img src="assets/images/svgs/fi-info.svg">
                    <label id='itemlabel3'>About Me</label>
                </a>
                <a class="active item" aria-labelledby="#itemlabel4" href="/service">
                    <img src="assets/images/svgs/fi-social-skillshare.svg">
                    <label id='itemlabel4'>Services</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel5" href="/contact">
                    <img src="assets/images/svgs/fi-mail.svg">
                    <label id='itemlabel5'>Contact Me</label>
                </a>
                <a class="item" aria-labelledby="#itemlabel6" href="https://github.com/RachitPandya">
                    <img src="assets/images/svgs/fi-social-github.svg">
                    <label id='itemlabel6'>GitHub</label>
                </a>
            </div>
        </div>
    </div><!--close Navbar-->

    <div class="row">
        <nav id="brdcrmstyle" class="breadcrumbs">
            <a href="/">Home</a>
            <a class="current" href="#">Services</a>
        </nav>
    </div>
    <br /><!--Closing Breadcrums-->

    <br />

    <div  class="row">
        <h3 id="subintro">   As a Software developer I will providing following services...</h3>
        <hr />
    </div>
    <div class="row">
        <aside class="large-5 small-5 columns">
            <h4>Website/Desktop application Development</h4>
        </aside>
        <header class="large-7 small-7 columns">
            <p>
                With the excelence skill of web development I will essure you to provide a very interactive yet simple and beautiful web application.#
                With the help of visual studio and SQL Server I can make a very good website for your business or for your institute.
            </p>
        </header>
    </div>
    
    <div class="row">
        <hr />
        <header class="large-7 small-7 columns">
            <p>
                In the current market scenario android is the fastest and easiest way to implement your Idea.
                You can make it possible with the help of me. With my knowledge of developing the android application your dream for ceating application for phones and/or tabletsbecomes true.
                Eclips with Android SDK and SQLite database are the things which i reqired to develop the application.
            </p>
        </header>
        <aside class="large-5 small-5 columns">
            <h4>Android application Development</h4>
        </aside>
    </div>

    <div class="row">
        <hr />
        <aside class="large-5 small-5 columns">
            <h4>Designing And Art Work</h4>
        </aside>
        <header class="large-7 small-7 columns">
            <p>
                Apart from programming I am also good in making your memories special. Give me the bunch of images from your trip and i will make it the memorable experience for you.
                With the help of "Pro Show" tool I trun your stills into Live.
            </p>
        </header>
        <hr />
        <br />
    </div>
